/*
*
*   TABLET:
*
*/

@media screen and (min-width: 768px) {

    .operacoes-criptografia__info p {
        font-size: 0.8rem;
    }

    .operacoes-criptografia__botoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .operacoes-criptografia__botoes__criptografar {
        width: 50%;
        margin-right: 2%;
        margin-bottom: 0.5rem;
    }

    .operacoes-criptografia__botoes__descriptografar {
        width: 50%;
    }

    .operacoes-criptografia__saida {
        padding: 40px 15px;

    }
}


/*
*
*   NOTEBOOK:
*
*/

@media screen and (min-width: 1024px) {


    .operacoes-criptografia__entrada textarea {
        margin-bottom: 7rem;
        width: 50rem;
    }

    .operacoes-criptografia__entrada textarea:focus{
        outline: none;
    }

    .operacoes-criptografia__saida {
        position: absolute;
        top: 20px;
        right: 50px;
        width: 400px;
        height: 36.5rem;
        padding: 20px;
    }

    .operacoes-criptografia__botoes {
        width: calc(100% - 450px);
    }

    .operacoes-criptografia__botoes__criptografar, .operacoes-criptografia__botoes__descriptografar {
        width: 30rem;
    }


    .operacoes-criptografia__saida__box img {
        display: inline-block;
        text-align: center;
    }

}